@font-face {
    font-family: "Prompt";
    src: url("../../fonts/Prompt-Regular.ttf") format("opentype");
}

* {
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.side-nav-top {
    height: 60px;
    padding-right: unset;
    background-color: #f3f3f3;
    border-right: 1px solid #e6e6e6;
}

.logo-img {
    padding: 10px;
    height: 100%;
}

.logo-img>img {
    height: 100%;
    display:block;
    margin:auto;
}

.side-nav {
    height: calc(100vh - 60px);
    background-color: #f3f3f3;
    border-right: 1px solid #e6e6e6;
    padding: unset;
    padding-top: 1.25rem;
}

.side-nav>ul>li {
    background-color: unset;
    padding: unset;
    padding-left: 2rem;
    padding-right: 1.25rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.side-nav>ul>li>a {
    width: 100%;
    height: 60px;
    overflow: hidden;
    color: #333;
}

.side-nav>ul>li>a>.icon-img {
    width: 35px;
    height: 35px;
    float: left;
    background-color: #c0c0c0;
}

.side-nav>ul>li>a>.title {
    line-height: 35px;
    float: left;
    padding-left: 10px;
}

.side-nav>ul>li>a>.action {
    line-height: 35px;
    float: right;
    padding-left: 10px;
    color: #c0c0c0;
}

.top-nav {
    height: 60px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e6e6e6;
}

.top-nav-row {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
}

.top-nav-row>div>.user {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #c0c0c0;
}

.top-nav-row>div>div.dropdown-menu {
    float: right;
}

.top-nav-row:nth-last-child(1) {
    padding-right: 15px;
}

.dropdown-menu-c {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #f3f3f3;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px;
    z-index: 9999;
}

.dropdown-menu-c>.dropdown-header {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.breadcrumb-main {
    background-color: #ebebeb;
    padding: unset;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    width: calc(100% - 129px);
}

.breadcrumb {
    line-height: 40px;
    padding: unset;
    margin: unset;
}

.breadcrumb>li {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.body {
    padding: 0rem;
}

.body>div {
    height: calc(100vh - 61px);
}

.container-box {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 30px;
}

.size-logo {
    height: 17px;
    width: 17px;
}

.thead-color {
    background-color:#3A2C22;
}

.btn-edit {
    background-color:#f9b10b;
}

.text-active {
    background-color: #292726;
}

.list-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #cccccc;
}

.list-group-item {
    padding: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

div#doneList>div>.hidden-done, div.list-title>.row>.hidden-done {
    display: none;
}

.blue-background-class {
    background-color: #C8EBFB;
}

.red-background-class {
    background-color: rgb(247, 166, 166);
}

.fixed-top {
    transition: all 0.5s;
}

@media (max-width: 767.98px) {
    .fixed-top {
        position: unset;
        top: unset;
        right: unset;
        left: unset;
    }
}

@media (min-width: 768px) {
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: unset;
        padding-top: 30px;
    }
}

div.Login {
    color: #000;
    margin-left: 0;
    height: 100vh;
    background: none;
  }
  div.Login .area {
    background: #2b2b2b;
    background: linear-gradient(270deg, #2c2c2c, #202020);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -500;
  }
  div.Login .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  div.Login .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: hsla(0, 0%, 100%, 0.2);
    -webkit-animation: animate 25s linear infinite;
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  div.Login .circles li:first-child {
    left: 25%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  div.Login .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
  }
  div.Login .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  div.Login .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 18s;
    animation-duration: 18s;
  }
  div.Login .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  div.Login .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  div.Login .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
  }
  div.Login .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 45s;
    animation-duration: 45s;
  }
  div.Login .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
  }
  div.Login .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 11s;
    animation-duration: 11s;
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    to {
      -webkit-transform: translateY(-1000px) rotate(2turn);
      transform: translateY(-1000px) rotate(2turn);
      opacity: 0;
      border-radius: 50%;
    }
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    to {
      -webkit-transform: translateY(-1000px) rotate(2turn);
      transform: translateY(-1000px) rotate(2turn);
      opacity: 0;
      border-radius: 50%;
    }
  }
  div.loginContainer {
    background: #fff;
  }
  div.loginContainer div.Logo {
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  div.loginContainer img.logo {
    height: 50%;
    width: 50%;
  }
  @media (max-width: 991.98px) {
    div.Login {
      background: #fff;
    }
  }
  @media (min-width: 992px) {
    div.Login {
      padding-top: 15vh;
    }
    div.loginContainer {
      width: 30vw;
      min-height: 50vh;
      margin-left: 5vw;
      padding: 35px 35px 60px;
      border-radius: 10px;
      box-shadow: 0 0 30px -10px #666;
    }
  }
